<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'/>

    <script src="/innovation/resources/sap-ui-core.js"
            id="sap-ui-bootstrap"
            data-sap-ui-libs="sap.m, sap.ui.table, sap.ui.layout"
            data-sap-ui-theme="sap_bluecrystal">
    </script>
    <link  href="/css/loading.css" rel="stylesheet">
    <script type="text/javascript" src="/innovation/axios.min.js"></script>

    <script>
        sap.ui.getCore().attachInit(function(){
            const onButtonPressed = function(oEvent) {
                const inbound = document.getElementsByTagName('input').item(4).value;
                axios({
                    method: 'post',
                    url: '/innovation/postGoodsReceipt/'+inbound,
                    beforeSend: $('.loading').fadeIn()
                }).then(function (response) {
                    alert(response.data.message);
                    beforeSend: $('.loading').fadeOut();
                })
            };

            const onButtonPressedCheck = function () {
                axios({
                    method: 'get',
                    url: "/innovation/getPo?poNum="+document.getElementsByTagName('input')[0].value,
                    contentType: "application/json;charset=UTF-8",
                    dataType: 'json',
                    data: {},
                    beforeSend: $('.loading').fadeIn()
                }).then(function (response) {
                    $('.loading').fadeOut();
                    if(response.data.success === true) {
                        const data = response.data.data;
                        const inputList = document.getElementsByTagName('input');
                        const dataProps = ['PurchaseOrder', 'CompanyCode', 'PurchaseOrderType', 'Supplier'];
                        var i;
                        for (i = 0; i < inputList.length; i++) {
                            inputList[i].value = data[dataProps[i]];
                        }
                        inputList[4].value = "180000262";
                    }else {
                        alert(response.data.message);
                    }
                });
            };

            const oButton = new sap.m.Button({
                    text: "Post Goods Receipt",
                    press: onButtonPressed
                });

            const oButtonCheckPo = new sap.m.Button({
                text: "Retrieve Purchase Order Details",
                press: onButtonPressedCheck
            });


            const oImage = new sap.m.Image({
                width: "320px",
                height: "240px",
            });

            const oForm = new sap.ui.layout.form.SimpleForm({
                content: [
                    new sap.m.Label({text: "Captured Purchase Order Picture"}),
                    oImage,

                    new sap.m.Label({text: "Purchase Order No."}),
                    new sap.m.Input({}),

                    new sap.m.Label({text: "Company Code"}),
                    new sap.m.Input({}),

                    new sap.m.Label({text: "Purchase Order Type"}),
                    new sap.m.Input({}),

                    new sap.m.Label({text: "Supplier"}),
                    new sap.m.Input({}),

                    new sap.m.Label({text: "Inbound Delivery"}),
                    new sap.m.Input({})
                ]
            });


            const oApp = new sap.m.App({
                pages: [
                    new sap.m.Page("categoryPage", {
                        title: "Display Purchase Order",
                        content: [
                            new sap.m.Panel({
                                content: [oButtonCheckPo]
                            }),
                            new sap.m.Panel({
                                content: [oButton]
                            }),
                            new sap.m.Panel({
                                content: [oForm]
                            }),
                        ]
                    })
                ]
            });

            sap.ui.getCore().byId("categoryPage").bindElement("/Categories(1)");
            oApp.placeAt("content");
        });
    window.onload = function () {
        axios({
            method: 'get',
            url: "/innovation/getDetail",
            contentType: "application/json;charset=UTF-8",
            dataType: 'json',
            data: {},
            beforeSend: $('.loading').fadeIn()
        }).then(function (response) {
            $('.loading').fadeOut();
            const data = response.data.data;
            if(response.data.success === true) {
                const inputList = document.getElementsByTagName('input');
                const imgDom = document.getElementsByTagName('img');
                const dataProps = ['PurchaseOrder', 'CompanyCode', 'PurchaseOrderType', 'Supplier'];
                var i;
                for (i = 0; i < inputList.length; i++) {
                    inputList[i].value = data[dataProps[i]];
                }
                inputList[4].value = "180000262";
                console.log("true"+data["editImg"]);
                imgDom[0].src = data["editImg"];
            }else {
                alert(response.data.message);
                const inputList = document.getElementsByTagName('input');
                inputList[0].value = data["PurchaseOrder"];
                const imgDom = document.getElementsByTagName('img');
                imgDom[0].src = data["editImg"];
                console.log("false"+data["editImg"]);
            }
        });
    }
    </script>

</head>
<body class="sapUiBody" role="application">
<div id="content"></div>
<div class="loading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
</body>
</html>