<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'/>

    <script src="/innovation/resources/sap-ui-core.js"
            id="sap-ui-bootstrap"
            data-sap-ui-libs="sap.m, sap.ui.table, sap.ui.layout"
            data-sap-ui-theme="sap_bluecrystal"
            data-sap-ui-resourceroots='{"innovation": "/innovation/"}'>
    </script>
    <link  href="/css/cropper.min.css" rel="stylesheet">
    <link  href="/css/loading.css" rel="stylesheet">
    <script src="/js/cropper.min.js"></script>
    <script type="text/javascript" src="/innovation/axios.min.js"></script>
    <script src="/innovation/jquery.js"></script>
    <style>
        #__image1 {
            display: inline-block;
            width: 200px;
            height: 200px;
            overflow: hidden;
        }
    </style>
</head>
<body class="sapUiBody" role="application">
<div id="content">

</div>
<div class="loading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<script>
    sap.ui.getCore().attachInit(function(){
        const oButton = new sap.m.Button({
            text: "Recognize PO Number",
        });

        const oImage = new sap.m.Image({
            width: "400px",
            height: "400px",
        });
        const oImage2 = new sap.m.Image({
            width: "400px",
            height: "400px",
        });

        const oForm = new sap.ui.layout.form.SimpleForm({
            content: [
                new sap.m.Label({text: "Captured Picture"}),
                oImage,

                new sap.m.Label({text: "Selected Purchase Order Number"}),
                oImage2
            ]
        });

        var oApp = new sap.m.App({
            pages: [
                new sap.m.Page("categoryPage", {
                    title: "Select Purchase Order in Captured Delivery Note",
                    content: [
                        new sap.m.Panel({
                            content: [oButton]
                        }),
                        new sap.m.Panel({
                            content: [oForm]
                        }),

                    ]
                })
            ]
        });

        axios.get('/innovation/getImg')
            .then(function (response) {
                const image = document.getElementById("__image0");
                const options = {
                    aspectRatio: 16 / 9,
                    // preview: '#__image1-cont0_1',
                    preview: '#__image1',
                    viewMode: 1
                };
                let cropper = new Cropper(image, options);
                let base64 = response.data;
                image.onload = function () {
                    if (cropper) cropper.destroy();
                    cropper = new Cropper(image, options);
                    document.getElementById("__button0-BDI-content").addEventListener("click", function() {
                        const canvas = cropper.getCroppedCanvas();
                        const downloadImageSrc = canvas.toDataURL();
                        const param = new FormData();
                        param.append("editImg",downloadImageSrc);
                        axios({
                            method: 'post',
                            url: '/innovation/postImg',
                            data: param,
                            beforeSend: $('.loading').fadeIn()
                        }).then(function (response) {
                            const data = response.data.toString();
                            if(data !=null){
                                window.location.href="/innovation/display?poNum="+data;
                            }else {
                                window.location.href="/innovation/display";
                            }

                        })
                    });
                };
                image.src = base64;

            });
        sap.ui.getCore().byId("categoryPage").bindElement("/Categories(1)");
        oApp.placeAt("content");
    });

</script>
</body>
</html>